apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: inventorit
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
