apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: inventorit
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
